/* Common Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    border:none;
    list-style:none;
}

html{
    font-size: 62.5%;
    font-family: orpheuspro, serif;
    font-style: normal;
    font-weight: lighter;
}

body{
    max-width: 1500px;
    /*border:1px solid #AFAC9F;*/
}

h1,h2,h3{
    font-weight: lighter;
    margin-block-start: 0;
    margin-block-end: 0;
}

a:link{
    color:black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color:black;
  }
  a:focus{
    color:black;
  }
  a:active{
    color:black;
  }

/*End of Common Styles*/

/*Header*/

.header{
    margin: 3vw 4vw 3vw 4vw;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
}

.header-one-wrapper, .header-nav, .header-social-wrapper{
    display:flex;
}

.header-one-wrapper{
    width:475px;
    /*width:525px;*/
    justify-content: space-between;
}

.header-nav{
    width:200px;
    justify-content: space-around;
}

.header-social-wrapper{
    width:60px;
    justify-content: space-between;
}

.social{
    width:20px;
    height:20px;
    margin-top: 1.6rem;
}

.name-header{
    font-size: 3.2rem;
}

.nav-item{
    margin-top: 1.2rem;
    font-size: 1.7rem;
}

.one{
    /*text-decoration: underline;
    text-underline-offset: 0.5em;*/
    border-bottom: 1px solid black;
}

.letter-space{
    letter-spacing: 0.1rem;
}

/*End of Header*/

/*Home Images*/

.portfolio-images-home{
    margin: 3vw 4vw 3vw 4vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.image-wrapper{
   position: relative;
   /*width:620px;
   height:450px;*/
   width:640px;
   height:460px;

   margin-bottom: 130px;
}

.image-home{
    width:100%;
    height:100%;
    object-fit: cover;
}

.hover-item{
    width:100%;
    height:100%;
    font-size: 2.8rem;
    position:absolute;
    top:0;
    z-index:20;
    text-align: center;
    line-height: 460px;
    display: none;
}

.image-wrapper:hover p{
    display:block;
}

.opacity-layer{
    width:100%;
    height:100%;
}

.image-wrapper:hover div{
    opacity:0.4
}

/*End of Home Images*/

/*Final Home Styles*/

.home-para{
    margin: 3vw 4vw 3vw 4vw;
    font-size:3rem;
    width:55%;
}

.first{
    margin-bottom: 60px;
}

.underline{
    border-bottom:1px solid black;
    margin-bottom: 140px;
    width:max-content;
}

/*End of Final Home Styles*/

/*Footer*/

.footer{
    display:flex;
    justify-content: space-between;
    font-size:1.7rem;
    height:18vw;
    /*background-color: #EEEDE7;*/
}

.footer-align{
    margin: 1vw 4vw 1vw 4vw;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.space{
    margin-bottom: 20px;
}


/*End of Footer

.footer{
    display:flex;
    justify-content: space-between;
    margin: 3vw 4vw 3vw 4vw;
    font-size:1.7rem;
}

.footer-align{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.space{
    margin-bottom: 20px;
}

/*End of Footer*/