/* Common Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    border:none;
    list-style:none;
}

html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

/*End of Common Styles*/

/*Page Background*/

.whole-body-container{
    /*height:2200px;*/
    height:2650px;
    background-image:url("images/IMG_1034.jpeg");
    background-size: cover;
}

/*.homescreen-img-wrapper{
    width:100%;
    height:1800px;
}

.homescreen-img{
    width:100%;
    height:100%;
}*/

/*Page Headers*/

.rust{
    color:#3b3939;
}

.rust:hover{
    color:#707070;
}

.grey{
    color:#3b3939;
}

.grey:hover{
    color:#707070;
}

.page-headers{
    display:flex;
    justify-content: space-between;
}

.name-role-header{
    line-height:6rem;
    padding:1rem 0 4rem 2rem;
}

.name-header,.role-header{
    font-size:6rem;
    font-weight:300;
}

.contact-header{
    font-size:4rem;
    font-weight:300;
    color: #707070;
    margin: 7.5rem 2rem 0 0;
}

.contact-header:hover, .project-header:hover{
    color:#3b3939;
}

/*Grid over Paper*/

/*.projects-section-wrapper{
    display:grid;
    grid-template-columns: repeat(19,50px);
    grid-template-rows: repeat(24,50px);
    grid-gap:20px;
    justify-content: center;
}

.project-header{
    font-size:3.5rem;
    font-weight:300;
    color: #707070;
}

img{
    border-radius:4%;
    box-shadow: 40px 40px 12px rgba(0,0,0,0.3);
    object-fit: cover;
    width:100%;
    height:100%;
}

.project-wrapper:hover{
    z-index:60;
}

.project-2-1-img-wrapper{
    grid-column:4/13;
    grid-row:1/6;
    z-index:50;
}

.project-2-2-img-wrapper{
    grid-column:5/14;
    grid-row:2/7;
    z-index:40;
}

.project-2-3-img-wrapper{
    grid-column:6/15;
    grid-row:3/8;
    z-index:30;
}

.project-header-2{
    grid-column: 16/-1;
    grid-row:5/7;
}

.project-1-1-img-wrapper{
    grid-column:1/14;
    grid-row:9/16;
    z-index:50;
}

.project-1-2-img-wrapper{
    grid-column:13/18;
    grid-row:9/16;
    z-index:40;
    justify-self:center;
}

.project-1-3-img-wrapper{
    grid-column:14/19;
    grid-row:10/17;
    z-index:30;
}

.project-1-4-img-wrapper{
    grid-column:15/20;
    grid-row:11/18;
    z-index:20;
}

.project-header-1{
    grid-column:2/11;
    grid-row:15/17;
}*/


.projects-section-wrapper{
    display:grid;
    grid-template-columns: repeat(66,20px);
    grid-template-rows: repeat(100,20px);
    justify-content: center;
}

.project-header{
    font-size:3.5rem;
    font-weight:300;
    color: #707070;
}

img{
    border-radius:4%;
    box-shadow: 40px 40px 12px rgba(0,0,0,0.3);
    object-fit: cover;
    width:100%;
    height:100%;
}

.project-wrapper:hover{
    z-index:60;
}

.project-2-1-img-wrapper{
    grid-column:9/40;
    grid-row:7/23;
    z-index:50;
}

.project-2-2-img-wrapper{
    grid-column:20/50;
    grid-row:8/24;
    z-index:40;
}

.project-2-3-img-wrapper{
    grid-column:31/61;
    grid-row:9/25;
    z-index:30;
}

.project-header-2{
    grid-column: 9/50;
    grid-row:25/25;
}

.project-1-1-img-wrapper{
    grid-column:9/42;
    grid-row:34/51;
    z-index:50;
}

.project-1-2-img-wrapper{
    grid-column:43/57;
    grid-row:34/54;
    z-index:40;
}

.project-1-3-img-wrapper{
    grid-column:45/59;
    grid-row:35/55;
    z-index:30;
}

.project-1-4-img-wrapper{
    grid-column:47/61;
    grid-row:36/56;
    z-index:20;
}

.project-header-1{
    grid-column:9/40;
    grid-row:53/53;
}

.project-3-1-img-wrapper{
    grid-column:9/40;
    grid-row:64/82;
    z-index:50;
}

.project-3-2-img-wrapper{
    grid-column:12/43;
    grid-row:65/83;
    z-index:40;
}

.project-3-3-img-wrapper{
    grid-column:44/53;
    grid-row:64/85;
    z-index:30;
}

.project-3-4-img-wrapper{
    grid-column:52/61;
    grid-row:65/86;
    z-index:20;
}

.project-header-3{
    grid-column:9/40;
    grid-row:84/84;
}

/*Media Queries*/

@media (max-width:1370px){
    .whole-body-container{
        height:1900px;
    }

    .name-header,.role-header{
        font-size: 4rem;
        line-height:4rem;
    }

    .contact-header{
        font-size:3rem;
        margin-top:5rem;
    }

    .project-header{
        font-size:2rem;
    }

    .projects-section-wrapper{
        display:grid;
        grid-template-columns: repeat(37,20px);
        grid-template-rows: repeat(70,20px);
        justify-content: center;
    }

    .project-2-1-img-wrapper{
        grid-column:2/23;
        grid-row:4/16;
        z-index:50;
    }
    
    .project-2-2-img-wrapper{
        grid-column:10/31;
        grid-row:5/17;
        z-index:40;
    }
    
    .project-2-3-img-wrapper{
        grid-column:18/38;
        grid-row:6/18;
        z-index:30;
    }
    
    .project-header-2{
        grid-column: 2/30;
        grid-row:18/18;
    }
    
    .project-1-1-img-wrapper{
        grid-column:2/25;
        grid-row:22/34;
        z-index:50;
    }
    
    .project-1-2-img-wrapper{
        grid-column:26/36;
        grid-row:22/36;
        z-index:40;
    }
    
    .project-1-3-img-wrapper{
        grid-column:27/37;
        grid-row:23/37;
        z-index:30;
    }
    
    .project-1-4-img-wrapper{
        grid-column:28/38;
        grid-row:24/38;
        z-index:20;
    }
    
    .project-header-1{
        grid-column:2/25;
        grid-row:35/35;
    }
    
    .project-3-1-img-wrapper{
        grid-column:2/23;
        grid-row:41/53;
        z-index:50;
    }
    
    .project-3-2-img-wrapper{
        grid-column:6/27;
        grid-row:42/54;
        z-index:40;
    }
    
    .project-3-3-img-wrapper{
        grid-column:28/33;
        grid-row:41/53;
        z-index:30;
    }
    
    .project-3-4-img-wrapper{
        grid-column:33/38;
        grid-row:42/54;
        z-index:20;
    }
    
    .project-header-3{
        grid-column:2/35;
        grid-row:55/55;
    }
}


@media (max-width:768px){
    /*.projects-section-wrapper{
        display:grid;
        grid-template-columns: repeat(67,20px);
        grid-template-rows: repeat(100,20px);
        justify-content: center;
    }*/
}



